spring:
  profiles:
    active: prod

mybatis:
  mapper-locations: classpath*:com/gpmall/shopping/dal/persistence/*Mapper.xml"
  type-aliases-package: com.gpmall.shopping.dal.entitys
pagehelper:
  helper-dialect: mysql
  reasonable: true
  support-methods-arguments: true
  params: count=countSql
