<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.coupon.dal.persistence.SaleCouponCodeMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.coupon.dal.entitys.SaleCouponCode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="coupon_id" jdbcType="BIGINT" property="couponId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="consume_time" jdbcType="TIMESTAMP" property="consumeTime" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
</mapper>