<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.comment.dal.persistence.CommentReplyMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.comment.dal.entitys.CommentReply">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="comment_id" jdbcType="VARCHAR" property="commentId" />
    <result column="parent_id" jdbcType="VARCHAR" property="parentId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime" />
    <result column="reply_nick" jdbcType="VARCHAR" property="replyNick" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="is_deleted" jdbcType="BIT" property="isDeleted" />
    <result column="deletion_time" jdbcType="TIMESTAMP" property="deletionTime" />
    <result column="deletion_user_id" jdbcType="BIGINT" property="deletionUserId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, comment_id, parent_id, content, reply_time, reply_nick, user_id, is_deleted, 
    deletion_time, deletion_user_id
  </sql>
  <select id="selectByExample" parameterType="com.gpmall.comment.dal.entitys.CommentReplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_comment_reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_comment_reply
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_comment_reply
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.gpmall.comment.dal.entitys.CommentReplyExample">
    delete from tb_comment_reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gpmall.comment.dal.entitys.CommentReply">
    insert into tb_comment_reply (id, comment_id, parent_id, 
      content, reply_time, reply_nick, 
      user_id, is_deleted, deletion_time, 
      deletion_user_id)
    values (#{id,jdbcType=VARCHAR}, #{commentId,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{replyTime,jdbcType=TIMESTAMP}, #{replyNick,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{isDeleted,jdbcType=BIT}, #{deletionTime,jdbcType=TIMESTAMP}, 
      #{deletionUserId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.gpmall.comment.dal.entitys.CommentReply">
    insert into tb_comment_reply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="commentId != null">
        comment_id,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="replyTime != null">
        reply_time,
      </if>
      <if test="replyNick != null">
        reply_nick,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
      <if test="deletionTime != null">
        deletion_time,
      </if>
      <if test="deletionUserId != null">
        deletion_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="commentId != null">
        #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNick != null">
        #{replyNick,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=BIT},
      </if>
      <if test="deletionTime != null">
        #{deletionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletionUserId != null">
        #{deletionUserId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gpmall.comment.dal.entitys.CommentReplyExample" resultType="java.lang.Long">
    select count(*) from tb_comment_reply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_comment_reply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.commentId != null">
        comment_id = #{record.commentId,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null">
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.replyTime != null">
        reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.replyNick != null">
        reply_nick = #{record.replyNick,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.isDeleted != null">
        is_deleted = #{record.isDeleted,jdbcType=BIT},
      </if>
      <if test="record.deletionTime != null">
        deletion_time = #{record.deletionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deletionUserId != null">
        deletion_user_id = #{record.deletionUserId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_comment_reply
    set id = #{record.id,jdbcType=VARCHAR},
      comment_id = #{record.commentId,jdbcType=VARCHAR},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      reply_time = #{record.replyTime,jdbcType=TIMESTAMP},
      reply_nick = #{record.replyNick,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      is_deleted = #{record.isDeleted,jdbcType=BIT},
      deletion_time = #{record.deletionTime,jdbcType=TIMESTAMP},
      deletion_user_id = #{record.deletionUserId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gpmall.comment.dal.entitys.CommentReply">
    update tb_comment_reply
    <set>
      <if test="commentId != null">
        comment_id = #{commentId,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="replyTime != null">
        reply_time = #{replyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="replyNick != null">
        reply_nick = #{replyNick,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
      <if test="deletionTime != null">
        deletion_time = #{deletionTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deletionUserId != null">
        deletion_user_id = #{deletionUserId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gpmall.comment.dal.entitys.CommentReply">
    update tb_comment_reply
    set comment_id = #{commentId,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      reply_time = #{replyTime,jdbcType=TIMESTAMP},
      reply_nick = #{replyNick,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      is_deleted = #{isDeleted,jdbcType=BIT},
      deletion_time = #{deletionTime,jdbcType=TIMESTAMP},
      deletion_user_id = #{deletionUserId,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>