<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.comment.dal.persistence.CommentPictureMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.comment.dal.entitys.CommentPicture">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="comment_id" jdbcType="VARCHAR" property="commentId" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
  </resultMap>
  
  <sql id="BaseColumns">
    <!-- WARNING - @mbg.generated -->
    id, comment_id, pic_path
  </sql>
  
</mapper>