<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.shopping.dal.persistence.ItemMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.shopping.dal.entitys.Item">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sell_point" jdbcType="VARCHAR" property="sellPoint" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="limit_num" jdbcType="INTEGER" property="limitNum" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="cid" jdbcType="BIGINT" property="cid" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, sell_point, price, num, limit_num, image, cid, status, created, updated
  </sql>

  <select id="selectItemFront" resultMap="BaseResultMap">
    SELECT * FROM tb_item WHERE status = 1
    <if test="priceGt != null and priceGt >= 0 and priceLte != null and priceLte >= 0">
      AND price BETWEEN #{priceGt} AND #{priceLte}
    </if>
    <if test="cid != null">
      AND cid = #{cid}
    </if>
    ORDER BY ${orderCol} ${orderDir}
  </select>
</mapper>