<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.shopping.dal.persistence.PanelContentMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.shopping.dal.entitys.PanelContent">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="full_url" jdbcType="VARCHAR" property="fullUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_url2" jdbcType="VARCHAR" property="picUrl2" />
    <result column="pic_url3" jdbcType="VARCHAR" property="picUrl3" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
  </resultMap>
  <resultMap id="BaseResultMapWithItem" type="com.gpmall.shopping.dal.entitys.PanelContentItem">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="panel_id" jdbcType="INTEGER" property="panelId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="sort_order" jdbcType="INTEGER" property="sortOrder" />
    <result column="full_url" jdbcType="VARCHAR" property="fullUrl" />
    <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
    <result column="pic_url2" jdbcType="VARCHAR" property="picUrl2" />
    <result column="pic_url3" jdbcType="VARCHAR" property="picUrl3" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
    <result column="updated" jdbcType="TIMESTAMP" property="updated" />
    <result column="title" jdbcType="VARCHAR" property="productName"/>
    <result column="price" jdbcType="BIGINT" property="salePrice"/>
    <result column="sell_point" jdbcType="VARCHAR" property="subTitle"/>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, panel_id, type, product_id, sort_order, full_url, pic_url, pic_url2, pic_url3, 
    created, updated
  </sql>
  <select id="selectByExample" parameterType="com.gpmall.shopping.dal.entitys.PanelContentExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_panel_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.gpmall.shopping.dal.entitys.PanelContentExample">
    delete from tb_panel_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gpmall.shopping.dal.entitys.PanelContent">
    insert into tb_panel_content (id, panel_id, type, 
      product_id, sort_order, full_url, 
      pic_url, pic_url2, pic_url3, 
      created, updated)
    values (#{id,jdbcType=INTEGER}, #{panelId,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}, 
      #{productId,jdbcType=BIGINT}, #{sortOrder,jdbcType=INTEGER}, #{fullUrl,jdbcType=VARCHAR}, 
      #{picUrl,jdbcType=VARCHAR}, #{picUrl2,jdbcType=VARCHAR}, #{picUrl3,jdbcType=VARCHAR}, 
      #{created,jdbcType=TIMESTAMP}, #{updated,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.gpmall.shopping.dal.entitys.PanelContent">
    insert into tb_panel_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="panelId != null">
        panel_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="sortOrder != null">
        sort_order,
      </if>
      <if test="fullUrl != null">
        full_url,
      </if>
      <if test="picUrl != null">
        pic_url,
      </if>
      <if test="picUrl2 != null">
        pic_url2,
      </if>
      <if test="picUrl3 != null">
        pic_url3,
      </if>
      <if test="created != null">
        created,
      </if>
      <if test="updated != null">
        updated,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="panelId != null">
        #{panelId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="sortOrder != null">
        #{sortOrder,jdbcType=INTEGER},
      </if>
      <if test="fullUrl != null">
        #{fullUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl != null">
        #{picUrl,jdbcType=VARCHAR},
      </if>
      <if test="picUrl2 != null">
        #{picUrl2,jdbcType=VARCHAR},
      </if>
      <if test="picUrl3 != null">
        #{picUrl3,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        #{created,jdbcType=TIMESTAMP},
      </if>
      <if test="updated != null">
        #{updated,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gpmall.shopping.dal.entitys.PanelContentExample" resultType="java.lang.Long">
    select count(*) from tb_panel_content
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_panel_content
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.panelId != null">
        panel_id = #{record.panelId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.sortOrder != null">
        sort_order = #{record.sortOrder,jdbcType=INTEGER},
      </if>
      <if test="record.fullUrl != null">
        full_url = #{record.fullUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl != null">
        pic_url = #{record.picUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl2 != null">
        pic_url2 = #{record.picUrl2,jdbcType=VARCHAR},
      </if>
      <if test="record.picUrl3 != null">
        pic_url3 = #{record.picUrl3,jdbcType=VARCHAR},
      </if>
      <if test="record.created != null">
        created = #{record.created,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updated != null">
        updated = #{record.updated,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_panel_content
    set id = #{record.id,jdbcType=INTEGER},
      panel_id = #{record.panelId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      product_id = #{record.productId,jdbcType=BIGINT},
      sort_order = #{record.sortOrder,jdbcType=INTEGER},
      full_url = #{record.fullUrl,jdbcType=VARCHAR},
      pic_url = #{record.picUrl,jdbcType=VARCHAR},
      pic_url2 = #{record.picUrl2,jdbcType=VARCHAR},
      pic_url3 = #{record.picUrl3,jdbcType=VARCHAR},
      created = #{record.created,jdbcType=TIMESTAMP},
      updated = #{record.updated,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>

  <select id="selectPanelContentAndProductWithPanelId" parameterType="java.lang.Integer" resultMap="BaseResultMapWithItem">
        select t.*,f.title,f.price,f.sell_point from tb_panel_content t
        left join tb_item f on t.product_id=f.id where t.panel_id=#{panelId}
        order by t.sort_order
  </select>
</mapper>