<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gpmall.order.dal.persistence.OrderItemMapper">
  <resultMap id="BaseResultMap" type="com.gpmall.order.dal.entitys.OrderItem">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="item_id" jdbcType="VARCHAR" property="itemId" />
    <result column="order_id" jdbcType="VARCHAR" property="orderId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="total_fee" jdbcType="DECIMAL" property="totalFee" />
    <result column="pic_path" jdbcType="VARCHAR" property="picPath" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  
  <sql id="BaseColumns">
    <!-- WARNING - @mbg.generated -->
    id, item_id, order_id, num, title, price, total_fee, pic_path
  </sql>

  <select id="queryByOrderId" resultMap="BaseResultMap">
    SELECT * FROM tb_order_item WHERE  order_id = #{orderId}
  </select>

  <update id="updateStockStatus">
    update tb_order_item set status=#{status} where order_id=#{orderId}
  </update>
  
</mapper>